{% load static %}
<!DOCTYPE html>
<html>

<body>
    <style>
        body {
            min-height: 5000px;
            background: url('{% static "tennis/p9.png" %}') no-repeat center center fixed;
            background-size: cover;
            /*background-image: url('{% static "tennis/p9.png" %}');*/
        /*background-repeat: no-repeat;*/
    }
    </style>

<div class="comment" style="text-align:center; background-color: antiquewhite; margin-inline: 250px; margin-top: 30%; ">
<h1>{{ your_choise }}</h1>
</div>
</body>


</html>